<div id="item_id" hidden>{{item._id}}</div>
<div class="row" style="height:30px;"></div>

<div class="row">
    <div class="col-4 offset-1 justify-content-center border" style="background-color:lightsteelblue;">

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {{#each item.photos}}
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{@index}}"
                    class="active border" aria-current="true" aria-label="Slide 1"> </button>
                {{/each}}
            </div>
            <div class="carousel-inner">
                {{#each item.photos}}
                <div class="carousel-item {{#unless @index}} active {{/unless}}">
                    <div class="row justify-content-center">
                        <img src="/images/{{this}}" class="d-block" alt="{{@index}}" style="height: 20rem; width:auto;">
                        <div style="height: 2rem;"></div>
                    </div>
                </div>
                {{/each}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <h1>{{item.title}}</h1>
        <hr>
        <a class="text-dark text-decoration-underline" href="/user/getOne/{{item.seller}}">Seller:
            {{item.seller}}</a>
        <hr>
        <p class="text-danger font-weight-bold">Prices: ${{item.price}}</p>
        <hr>
        <p>Description:<br>{{item.description}}</p>
        <hr>

        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                {{#if exist}}
                <button type="submit" class="btn fw-bold text-light" style="background-color:var(--stevensRed)"
                    onclick="removeCart(this,'{{item._id}}')">
                    Remove Cart
                </button>
                {{/if}}
                {{#unless exist}}
                <button type="submit" class="btn fw-bold text-light" style="background-color:var(--stevensRed)"
                    onclick="addCart(this,'{{item._id}}')">
                    Add Cart
                </button>
                {{/unless}}
            </div>

            <div class="col-6 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary fw-bold">
                    Buy Now
                </button>
            </div>
        </div>

    </div>
</div>

<div class="row" style="height:30px;"></div>

<div class="row">
    <div class="col-9 offset-1">
        <div class="coment-bottom bg-white ">
            <div class="d-flex p-2">
                <input type="text" class="form-control " placeholder="Add comment">
                <button class="btn btn-primary" type="button">Comment</button>
            </div>
            <div class="row">
                {{#each item.comments}}
                <div class="row">
                    <p>{{this.commenter}}</p>
                    <p class="text-end">{{this.date}}</p>
                </div>
                <div class="row">
                    <span>{{this.content}}</span>
                </div>
                {{/each}}
            </div>

        </div>

    </div>
</div>

<script src="/js/item.js"></script>